openapi: 3.0.0
info:
  title: Zephyr Chat Widget API
  version: 1.0.0
  description: API for managing chat conversations, customers, and API keys

servers:
  - url: https://api.zephyr.chat/v1
    description: Production server
  - url: https://staging-api.zephyr.chat/v1
    description: Staging server

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key with format "Bearer {api_key}"

  schemas:
    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
        role:
          type: string
          enum: [user, assistant]
        createdAt:
          type: string
          format: date-time
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/Attachment'

    Attachment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          format: uri
        filename:
          type: string

    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string

paths:
  /chat:
    post:
      summary: Send a message
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
                  type: string
                attachments:
                  type: array
                  items:
                    $ref: '#/components/schemas/Attachment'
      responses:
        '200':
          description: Message sent successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /conversations/{id}:
    get:
      summary: Get conversation history
      security:
        - ApiKeyAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Conversation retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Message'
        '404':
          description: Conversation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api-keys:
    get:
      summary: List API keys
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: API keys retrieved successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                    key:
                      type: string
                    createdAt:
                      type: string
                      format: date-time
                    lastUsed:
                      type: string
                      format: date-time
    post:
      summary: Create new API key
      security:
        - ApiKeyAuth: []
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  key:
                    type: string
                  createdAt:
                    type: string
                    format: date-time 